-- MySQL dump 10.13  Distrib 8.4.3, for Win64 (x86_64)
--
-- Host: gateway01.us-east-1.prod.aws.tidbcloud.com    Database: botanero_ventas
-- ------------------------------------------------------
-- Server version	8.0.11-TiDB-v7.5.6-serverless

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `caja_diaria`
--

DROP TABLE IF EXISTS `caja_diaria`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `caja_diaria` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `idUsuarioApertura` bigint unsigned NOT NULL,
  `montoApertura` decimal(8,2) NOT NULL DEFAULT '0',
  `fechaApertura` datetime NOT NULL,
  `estado` enum('ABIERTA','CERRADA') NOT NULL DEFAULT 'ABIERTA',
  `idUsuarioCierre` bigint unsigned DEFAULT NULL,
  `montoCierre` decimal(8,2) DEFAULT NULL,
  `ventasTotales` decimal(10,2) DEFAULT NULL,
  `gastosTotales` decimal(10,2) DEFAULT NULL,
  `ventasTarjeta` decimal(10,2) DEFAULT NULL,
  `ventasQR` decimal(10,2) DEFAULT NULL,
  `fechaCierre` datetime DEFAULT NULL,
  PRIMARY KEY (`id`) /*T![clustered_index] CLUSTERED */
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin AUTO_INCREMENT=120001;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `caja_diaria`
--

LOCK TABLES `caja_diaria` WRITE;
/*!40000 ALTER TABLE `caja_diaria` DISABLE KEYS */;
INSERT INTO `caja_diaria` VALUES (1,1,0.00,'2026-04-04 01:38:50','CERRADA',1,0.00,0.00,0.00,0.00,0.00,'2026-04-04 01:42:07'),(2,1,0.00,'2026-04-04 03:11:34','CERRADA',1,50.00,50.00,0.00,0.00,0.00,'2026-04-04 03:25:38'),(30001,1,0.00,'2026-04-04 13:41:18','CERRADA',134892,160.00,365.00,0.00,100.00,150.00,'2026-04-04 14:33:06'),(60001,1,300.00,'2026-04-06 06:19:04','CERRADA',1,437.00,242.00,50.00,0.00,55.00,'2026-04-08 08:21:15'),(90001,1,0.00,'2026-04-08 13:59:07','CERRADA',1,531.00,531.00,0.00,0.00,0.00,'2026-04-14 20:34:35');
/*!40000 ALTER TABLE `caja_diaria` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cancelaciones`
--

DROP TABLE IF EXISTS `cancelaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cancelaciones` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `tipo` enum('LOCAL','DELIVERY') NOT NULL,
  `referencia` varchar(50) NOT NULL,
  `idOrden` bigint unsigned DEFAULT NULL,
  `idUsuario` bigint unsigned DEFAULT NULL,
  `motivo` text DEFAULT NULL,
  `fecha` datetime NOT NULL,
  PRIMARY KEY (`id`) /*T![clustered_index] CLUSTERED */
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin AUTO_INCREMENT=2000001;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cancelaciones`
--

LOCK TABLES `cancelaciones` WRITE;
/*!40000 ALTER TABLE `cancelaciones` DISABLE KEYS */;
INSERT INTO `cancelaciones` VALUES (1,'DELIVERY','D001',1375577,1,'me robaron','2026-04-08 13:58:35');
/*!40000 ALTER TABLE `cancelaciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categorias`
--

DROP TABLE IF EXISTS `categorias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categorias` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `tipo` enum('PLATILLO','BEBIDA') NOT NULL,
  `nombre` varchar(50) NOT NULL,
  `descripcion` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`) /*T![clustered_index] CLUSTERED */
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin AUTO_INCREMENT=30001;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categorias`
--

LOCK TABLES `categorias` WRITE;
/*!40000 ALTER TABLE `categorias` DISABLE KEYS */;
/*!40000 ALTER TABLE `categorias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clientes`
--

DROP TABLE IF EXISTS `clientes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clientes` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(150) NOT NULL,
  `apellido` varchar(150) DEFAULT NULL,
  `telefono` varchar(30) DEFAULT NULL,
  `email` varchar(150) DEFAULT NULL,
  `nit` varchar(30) DEFAULT NULL,
  `direccion` varchar(255) DEFAULT NULL,
  `notas` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`) /*T![clustered_index] CLUSTERED */
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clientes`
--

LOCK TABLES `clientes` WRITE;
/*!40000 ALTER TABLE `clientes` DISABLE KEYS */;
/*!40000 ALTER TABLE `clientes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `combo_plantilla`
--

DROP TABLE IF EXISTS `combo_plantilla`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `combo_plantilla` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(120) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT '',
  `descuento_pct` decimal(5,2) NOT NULL DEFAULT '0',
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id`) /*T![clustered_index] CLUSTERED */
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci AUTO_INCREMENT=30001;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `combo_plantilla`
--

LOCK TABLES `combo_plantilla` WRITE;
/*!40000 ALTER TABLE `combo_plantilla` DISABLE KEYS */;
INSERT INTO `combo_plantilla` VALUES (1,'Almuerzo Domingo','Almerzo domingo',0.00,1);
/*!40000 ALTER TABLE `combo_plantilla` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `combo_plantilla_opcion`
--

DROP TABLE IF EXISTS `combo_plantilla_opcion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `combo_plantilla_opcion` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_slot` bigint unsigned NOT NULL,
  `id_insumo` bigint unsigned NOT NULL,
  PRIMARY KEY (`id`) /*T![clustered_index] CLUSTERED */,
  KEY `idx_combo_op_slot` (`id_slot`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci AUTO_INCREMENT=1963929;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `combo_plantilla_opcion`
--

LOCK TABLES `combo_plantilla_opcion` WRITE;
/*!40000 ALTER TABLE `combo_plantilla_opcion` DISABLE KEYS */;
INSERT INTO `combo_plantilla_opcion` VALUES (1,1,36),(2,1,37),(3,2,1),(4,2,18);
/*!40000 ALTER TABLE `combo_plantilla_opcion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `combo_plantilla_slot`
--

DROP TABLE IF EXISTS `combo_plantilla_slot`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `combo_plantilla_slot` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_plantilla` bigint unsigned NOT NULL,
  `etiqueta` varchar(80) COLLATE utf8mb4_unicode_ci NOT NULL,
  `orden` smallint NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`) /*T![clustered_index] CLUSTERED */,
  KEY `idx_combo_slot_p` (`id_plantilla`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci AUTO_INCREMENT=1987930;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `combo_plantilla_slot`
--

LOCK TABLES `combo_plantilla_slot` WRITE;
/*!40000 ALTER TABLE `combo_plantilla_slot` DISABLE KEYS */;
INSERT INTO `combo_plantilla_slot` VALUES (1,1,'Sopa',0),(2,1,'Segundo',1);
/*!40000 ALTER TABLE `combo_plantilla_slot` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `despiece_parrilla_linea`
--

DROP TABLE IF EXISTS `despiece_parrilla_linea`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `despiece_parrilla_linea` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `id_lote` int unsigned NOT NULL,
  `id_insumo` int unsigned DEFAULT NULL,
  `materia_prima` varchar(120) NOT NULL,
  `kg_asignado` decimal(8,3) NOT NULL,
  `porciones_250` int unsigned NOT NULL DEFAULT '0',
  `porciones_350` int unsigned NOT NULL DEFAULT '0',
  `desperdicio_g` int unsigned NOT NULL DEFAULT '0',
  `sobras_g` int unsigned NOT NULL DEFAULT '0',
  `porciones` int unsigned NOT NULL DEFAULT '0',
  `gramos_porcion` int unsigned NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`) /*T![clustered_index] CLUSTERED */,
  KEY `idx_despiece_lote` (`id_lote`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `despiece_parrilla_linea`
--

LOCK TABLES `despiece_parrilla_linea` WRITE;
/*!40000 ALTER TABLE `despiece_parrilla_linea` DISABLE KEYS */;
/*!40000 ALTER TABLE `despiece_parrilla_linea` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `despiece_parrilla_lote`
--

DROP TABLE IF EXISTS `despiece_parrilla_lote`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `despiece_parrilla_lote` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `fecha` datetime NOT NULL,
  `usuario` varchar(100) NOT NULL,
  `materia_prima` varchar(120) NOT NULL DEFAULT '',
  `total_kg_recibido` decimal(8,3) NOT NULL,
  PRIMARY KEY (`id`) /*T![clustered_index] CLUSTERED */
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `despiece_parrilla_lote`
--

LOCK TABLES `despiece_parrilla_lote` WRITE;
/*!40000 ALTER TABLE `despiece_parrilla_lote` DISABLE KEYS */;
/*!40000 ALTER TABLE `despiece_parrilla_lote` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `factura_items`
--

DROP TABLE IF EXISTS `factura_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `factura_items` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `idFactura` bigint unsigned NOT NULL,
  `cantidad` int unsigned NOT NULL DEFAULT '1',
  `descripcion` varchar(255) NOT NULL,
  `precioUnitario` decimal(10,2) NOT NULL DEFAULT '0',
  `descuento` decimal(10,2) NOT NULL DEFAULT '0',
  `subtotal` decimal(10,2) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`) /*T![clustered_index] CLUSTERED */
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin AUTO_INCREMENT=30001;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `factura_items`
--

LOCK TABLES `factura_items` WRITE;
/*!40000 ALTER TABLE `factura_items` DISABLE KEYS */;
INSERT INTO `factura_items` VALUES (1,1,3,'Ojo de bife ',50.00,0.00,150.00),(2,1,3,'Pacumuto',35.00,0.00,105.00);
/*!40000 ALTER TABLE `factura_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `facturas`
--

DROP TABLE IF EXISTS `facturas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `facturas` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `numero` int unsigned NOT NULL,
  `fechaHora` datetime NOT NULL,
  `nitComprador` varchar(20) NOT NULL DEFAULT '99001',
  `nombreComprador` varchar(150) NOT NULL DEFAULT 'SIN NOMBRE',
  `codigoControl` varchar(100) DEFAULT NULL,
  `subtotal` decimal(10,2) NOT NULL DEFAULT '0',
  `descuentos` decimal(10,2) NOT NULL DEFAULT '0',
  `baseCredito` decimal(10,2) NOT NULL DEFAULT '0',
  `iva` decimal(10,2) NOT NULL DEFAULT '0',
  `total` decimal(10,2) NOT NULL DEFAULT '0',
  `nota` text DEFAULT NULL,
  `idVenta` bigint unsigned DEFAULT NULL,
  `idUsuario` bigint unsigned NOT NULL,
  `estado` enum('EMITIDA','ANULADA') NOT NULL DEFAULT 'EMITIDA',
  `createdAt` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`) /*T![clustered_index] CLUSTERED */,
  UNIQUE KEY `uq_numero_factura` (`numero`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin AUTO_INCREMENT=30001;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `facturas`
--

LOCK TABLES `facturas` WRITE;
/*!40000 ALTER TABLE `facturas` DISABLE KEYS */;
INSERT INTO `facturas` VALUES (1,1,'2026-04-04 14:26:00','99001','Alejandro ',NULL,255.00,0.00,225.66,29.34,255.00,NULL,NULL,1,'EMITIDA','2026-04-05 00:33:46');
/*!40000 ALTER TABLE `facturas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gastos_caja`
--

DROP TABLE IF EXISTS `gastos_caja`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gastos_caja` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `idCaja` bigint unsigned NOT NULL,
  `concepto` varchar(255) NOT NULL,
  `monto` decimal(8,2) NOT NULL,
  `fecha` datetime NOT NULL,
  `idUsuario` bigint unsigned DEFAULT NULL,
  PRIMARY KEY (`id`) /*T![clustered_index] CLUSTERED */
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin AUTO_INCREMENT=30001;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gastos_caja`
--

LOCK TABLES `gastos_caja` WRITE;
/*!40000 ALTER TABLE `gastos_caja` DISABLE KEYS */;
INSERT INTO `gastos_caja` VALUES (1,60001,'Pago luz',50.00,'2026-04-06 06:20:23',1);
/*!40000 ALTER TABLE `gastos_caja` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `historial_stock`
--

DROP TABLE IF EXISTS `historial_stock`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `historial_stock` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `idInsumo` bigint unsigned NOT NULL,
  `idUsuario` bigint unsigned DEFAULT NULL,
  `cantidad` decimal(10,2) NOT NULL,
  `tipo` enum('VENTA','COMPRA','AJUSTE','MERMA','CANCELACION') NOT NULL,
  `nota` varchar(255) DEFAULT NULL,
  `fecha` datetime NOT NULL,
  PRIMARY KEY (`id`) /*T![clustered_index] CLUSTERED */
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin AUTO_INCREMENT=24030001;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `historial_stock`
--

LOCK TABLES `historial_stock` WRITE;
/*!40000 ALTER TABLE `historial_stock` DISABLE KEYS */;
/*!40000 ALTER TABLE `historial_stock` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `informacion_negocio`
--

DROP TABLE IF EXISTS `informacion_negocio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `informacion_negocio` (
  `nombre` varchar(100) DEFAULT NULL,
  `telefono` varchar(15) DEFAULT NULL,
  `numeroMesas` tinyint DEFAULT NULL,
  `logo` varchar(255) DEFAULT NULL,
  `direccion` varchar(255) DEFAULT NULL,
  `nit_emisor` varchar(50) DEFAULT NULL,
  `razon_social` varchar(150) DEFAULT NULL,
  `actividad` varchar(255) DEFAULT NULL,
  `ciudad` varchar(100) DEFAULT NULL,
  `num_autorizacion` varchar(100) DEFAULT NULL,
  `fecha_limite_emision` date DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `informacion_negocio`
--

LOCK TABLES `informacion_negocio` WRITE;
/*!40000 ALTER TABLE `informacion_negocio` DISABLE KEYS */;
INSERT INTO `informacion_negocio` VALUES ('La Lumbrera','77376746',10,'/fotos/logo.png','Av. Alemana 5375 entre 5to y 6to anillo, Santa Cruz de la Sierra, Bolivia',NULL,NULL,NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `informacion_negocio` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `insumo_receta_componente`
--

DROP TABLE IF EXISTS `insumo_receta_componente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `insumo_receta_componente` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `idInsumoPadre` bigint unsigned NOT NULL,
  `idInsumoHijo` bigint unsigned NOT NULL,
  `cantidad` decimal(10,3) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id`) /*T![clustered_index] CLUSTERED */,
  KEY `idx_receta_padre` (`idInsumoPadre`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `insumo_receta_componente`
--

LOCK TABLES `insumo_receta_componente` WRITE;
/*!40000 ALTER TABLE `insumo_receta_componente` DISABLE KEYS */;
/*!40000 ALTER TABLE `insumo_receta_componente` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `insumos`
--

DROP TABLE IF EXISTS `insumos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `insumos` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `codigo` varchar(100) NOT NULL,
  `nombre` varchar(100) NOT NULL,
  `descripcion` varchar(255) NOT NULL,
  `precio` decimal(8,2) NOT NULL DEFAULT '0',
  `tipo` enum('PLATILLO','BEBIDA') NOT NULL,
  `categoria` bigint unsigned NOT NULL,
  `stock` decimal(10,2) NOT NULL DEFAULT '0',
  `stockMinimo` decimal(10,2) NOT NULL DEFAULT '0',
  `stockMateria` decimal(10,2) NOT NULL DEFAULT '0',
  `tipoCorte` int NOT NULL DEFAULT '0',
  `tipoVenta` varchar(20) NOT NULL DEFAULT 'NORMAL',
  `idComboPlantilla` bigint unsigned DEFAULT NULL,
  PRIMARY KEY (`id`) /*T![clustered_index] CLUSTERED */
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin AUTO_INCREMENT=60001;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `insumos`
--

LOCK TABLES `insumos` WRITE;
/*!40000 ALTER TABLE `insumos` DISABLE KEYS */;
/*!40000 ALTER TABLE `insumos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `insumos_venta`
--

DROP TABLE IF EXISTS `insumos_venta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `insumos_venta` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `idInsumo` bigint unsigned NOT NULL,
  `precio` decimal(8,2) NOT NULL,
  `cantidad` int NOT NULL,
  `idVenta` bigint unsigned DEFAULT NULL,
  PRIMARY KEY (`id`) /*T![clustered_index] CLUSTERED */
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin AUTO_INCREMENT=8210001;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `insumos_venta`
--

LOCK TABLES `insumos_venta` WRITE;
/*!40000 ALTER TABLE `insumos_venta` DISABLE KEYS */;
/*!40000 ALTER TABLE `insumos_venta` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `items_orden`
--

DROP TABLE IF EXISTS `items_orden`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `items_orden` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `idOrden` bigint unsigned NOT NULL,
  `idInsumo` bigint unsigned DEFAULT NULL,
  `codigo` varchar(100) DEFAULT NULL,
  `nombre` varchar(100) NOT NULL,
  `precio` decimal(8,2) NOT NULL,
  `caracteristicas` varchar(255) DEFAULT NULL,
  `cantidad` int NOT NULL DEFAULT '1',
  `estado` enum('pendiente','listo','entregado') NOT NULL DEFAULT 'pendiente',
  `tipo` varchar(30) NOT NULL DEFAULT 'PLATILLO',
  `pagado` tinyint(1) NOT NULL DEFAULT '0',
  `acompanamiento_listo` tinyint(1) NOT NULL DEFAULT '0',
  `detalle_json` longtext DEFAULT NULL,
  PRIMARY KEY (`id`) /*T![clustered_index] CLUSTERED */
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin AUTO_INCREMENT=14180001;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `items_orden`
--

LOCK TABLES `items_orden` WRITE;
/*!40000 ALTER TABLE `items_orden` DISABLE KEYS */;
/*!40000 ALTER TABLE `items_orden` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `menu_dia`
--

DROP TABLE IF EXISTS `menu_dia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `menu_dia` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `idInsumo` bigint unsigned NOT NULL,
  `diaSemana` varchar(20) NOT NULL,
  PRIMARY KEY (`id`) /*T![clustered_index] CLUSTERED */
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin AUTO_INCREMENT=90001;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `menu_dia`
--

LOCK TABLES `menu_dia` WRITE;
/*!40000 ALTER TABLE `menu_dia` DISABLE KEYS */;
INSERT INTO `menu_dia` VALUES (1,18,'2'),(2,37,'2'),(3,6,'2'),(30001,3,'4'),(60001,30001,'4'),(60002,1,'4');
/*!40000 ALTER TABLE `menu_dia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ordenes_activas`
--

DROP TABLE IF EXISTS `ordenes_activas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ordenes_activas` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `tipo` enum('LOCAL','DELIVERY') NOT NULL DEFAULT 'LOCAL',
  `referencia` varchar(50) NOT NULL,
  `atiende` varchar(100) DEFAULT NULL,
  `idUsuario` bigint unsigned DEFAULT NULL,
  `total` decimal(8,2) DEFAULT '0',
  `estado` varchar(20) DEFAULT 'libre',
  `cliente` varchar(100) DEFAULT NULL,
  `direccion` varchar(255) DEFAULT NULL,
  `telefono` varchar(20) DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `tipo_orden` varchar(20) DEFAULT 'LOCAL',
  PRIMARY KEY (`id`) /*T![clustered_index] CLUSTERED */
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin AUTO_INCREMENT=1585576;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ordenes_activas`
--

LOCK TABLES `ordenes_activas` WRITE;
/*!40000 ALTER TABLE `ordenes_activas` DISABLE KEYS */;
/*!40000 ALTER TABLE `ordenes_activas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reportes_cocina`
--

DROP TABLE IF EXISTS `reportes_cocina`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reportes_cocina` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `idInsumo` bigint unsigned DEFAULT NULL,
  `nombreInsumo` varchar(100) NOT NULL,
  `tipo` varchar(50) DEFAULT NULL,
  `nota` text DEFAULT NULL,
  `idUsuario` bigint unsigned DEFAULT NULL,
  `fecha` datetime NOT NULL,
  `resuelto` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`) /*T![clustered_index] CLUSTERED */
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reportes_cocina`
--

LOCK TABLES `reportes_cocina` WRITE;
/*!40000 ALTER TABLE `reportes_cocina` DISABLE KEYS */;
/*!40000 ALTER TABLE `reportes_cocina` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reservas`
--

DROP TABLE IF EXISTS `reservas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reservas` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nombre_cliente` varchar(100) NOT NULL,
  `telefono` varchar(20) DEFAULT NULL,
  `fecha` date NOT NULL,
  `hora` time NOT NULL,
  `personas` tinyint DEFAULT NULL,
  `idMesa` varchar(20) DEFAULT NULL,
  `notas` varchar(255) DEFAULT NULL,
  `idUsuario` bigint unsigned DEFAULT NULL,
  `estado` enum('PENDIENTE','CONFIRMADA','CANCELADA','COMPLETADA','SENTADA','NO-SHOW') DEFAULT 'PENDIENTE',
  `adelanto` decimal(8,2) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`) /*T![clustered_index] CLUSTERED */
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reservas`
--

LOCK TABLES `reservas` WRITE;
/*!40000 ALTER TABLE `reservas` DISABLE KEYS */;
/*!40000 ALTER TABLE `reservas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuarios` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `correo` varchar(100) NOT NULL,
  `nombre` varchar(100) NOT NULL,
  `telefono` varchar(20) NOT NULL,
  `password` varchar(255) NOT NULL,
  `rol` varchar(20) NOT NULL DEFAULT 'mesero',
  PRIMARY KEY (`id`) /*T![clustered_index] CLUSTERED */
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin AUTO_INCREMENT=224891;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ventas`
--

DROP TABLE IF EXISTS `ventas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ventas` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `idMesa` varchar(20) NOT NULL,
  `cliente` varchar(100) DEFAULT NULL,
  `fecha` datetime NOT NULL,
  `total` decimal(8,2) NOT NULL,
  `pagado` decimal(8,2) NOT NULL,
  `idUsuario` bigint unsigned NOT NULL,
  `metodoPago` varchar(20) DEFAULT 'EFECTIVO',
  `montoEfectivo` decimal(8,2) DEFAULT '0',
  `montoTarjeta` decimal(8,2) DEFAULT '0',
  `montoQR` decimal(8,2) DEFAULT '0',
  `tipo_orden` enum('LOCAL','DELIVERY','LLEVAR') DEFAULT 'LOCAL',
  `direccion` varchar(255) DEFAULT NULL,
  `telefono` varchar(20) DEFAULT NULL,
  `estado_delivery` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`id`) /*T![clustered_index] CLUSTERED */
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin AUTO_INCREMENT=1312192;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ventas`
--

LOCK TABLES `ventas` WRITE;
/*!40000 ALTER TABLE `ventas` DISABLE KEYS */;
/*!40000 ALTER TABLE `ventas` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-16 23:37:11
